@import "./_variables";
@import "./_inheritance";
.auth{
	// height: 100%;
	background-color:$white;
	height: calc(100vh - 50px);	
	@media(max-width: 768px){
			height: auto;
			flex-wrap: wrap;
	}
	.authbanner{
		background-image: url('../images/auth.jpg'); 
		width: 60%;
		height: 105%;
		margin-top:-15px;
		margin-bottom: -5px;
		background-size: cover;
		@media(max-width: 768px){
			width: 100%;
			height: 150px;
			margin-bottom: 20px
		}
	}
	.authform{
		padding: 0 50px;
		width: 40%;
		@media(max-width: 768px){
			width: 100%;
			padding:0 10px;
		}
		.login{
			background-color:$orange;
		}
		.btn{
			border:none;
			border-radius: 0;
		}
		.social{
			.btn{				
				width: 49%;
				margin: 0;				
			}			
		}
		.facebook{
			background-color: $facebook;
		}
		.twitter{
			background-color: $twitter;
		}
	}
}