@import "./_variables";
@import "./_inheritance";
.auth{
	// height: 100%;
	background-color:$white;
	height: calc(100vh - 50px);	
	@media(max-width: 768px){
			height: auto;
			flex-wrap: wrap;
	}
	.authbanner{
		background-image: url('../images/auth.jpg'); 
		width: 60%;
		height: 105%;
		margin-top:-15px;
		margin-bottom: -5px;
		background-size: cover;
		@media(max-width: 768px){
			width: 100%;
			height: 150px;
			margin-bottom: 20px
		}
	}
	.authform{
		padding: 0 50px;
		width: 40%;
		@media(max-width: 768px){
			width: 100%;
			padding:0 10px;
		}
		.login{
			background-color:$orange;
		}
		.btn{
			border:none;
			border-radius: 0;
		}
		.social{
			.btn, button{				
				border: none;
		    padding: 10px;
		    border-radius: 2px;
		    border: 1px solid transparent;
				margin: 0;			
				display: flex;
    		justify-content: center;	
    		align-items: center;
    		i.fa{
    			margin-right: 10px;
    		}
			}			
		}
		.facebook{
			background-color: $facebook;
		}
		.twitter{
			background-color: $twitter;
		}
	}
}