@import "./_variables";
@import "./_inheritance";

.panelwraper{	
	width: 100%;
}
.adminpanel{
	width: 100%;
	background-color: $white;
	// padding: 15px;
	.panelheader{
		.btnadd{
			background-color: $blue;
			border:none;
		}
	}
}
