@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import "./_variables";
@import "./_inheritance";
@import "./_utility";
html, body{
	background-color: #f1f3f6;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

main{
	padding:10px 0;
	min-height: calc(100vh - 50px);
	.dashboard {
		width: 100%;
		padding-right: 15px;
	}
}
.form-control{
	border:none;
	border-bottom: 1px solid $gray;
	border-radius: 0;
	&:focus{
		box-shadow: none;
		outline: none;
	}
}
.btn{
	&:hover, &:focus, &:active{
		box-shadow: none;
	}
	border-radius: 0;
	border:none;
}
.banner{
	display: block;
	margin-bottom:0px;
	img.img-fluid{
		height: 300px;
		width: 100%;
		object-fit: cover;
		@media(max-width: 768px){
			height: 120px;
		}
	}
}
.loader{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:$white;
	top:0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color:$orange;
	font-size: 1.2rem;
}
.productDetails{
	@media(max-width: 320px){
		button.btn{
			margin-bottom: 5px;
    	width: 100%;
		}
	}
}

@media (max-width: 768px){
	.adminpanel .responsiveTable.table{
		tr{
			border: none !important;
			padding: 0;
			td.pivoted{
				border-bottom: 1px solid $gray !important;
			}
		}
	} 
}

.mobileMenu{
	padding: 5px 15px;
	background-color: $white;
	position: sticky;
	top:51px;
	z-index: 2;
	i{
		font-size: 1.5rem;
	}
	@media (min-width:769px ) {
		display: none;
	}
}



/* Progress Bar */
.progress {
  position: absolute;
  height: 2px;
  display: block;
  width: 100%;
  background-color: $gray;
  border-radius: 2px;
  background-clip: padding-box;  
  overflow: hidden; }
  .progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: $orange;
    transition: width .3s linear; }
  .progress .indeterminate {
    background-color: #26a69a; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: $orange;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: $orange;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }