@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
/* generate helper classes */
.white {
  color: #fff;
}

.bg_white {
  background-color: #fff;
}

.btn_white {
  background-color: #fff;
  color: #fff;
}
.btn_white:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.bdr_white {
  border-color: #fff;
}

.black {
  color: #000;
}

.bg_black {
  background-color: #000;
}

.btn_black {
  background-color: #000;
  color: #fff;
}
.btn_black:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.bdr_black {
  border-color: #000;
}

.blue {
  color: #004C8A;
}

.bg_blue {
  background-color: #004C8A;
}

.btn_blue {
  background-color: #004C8A;
  color: #fff;
}
.btn_blue:focus {
  background-color: rgba(0, 76, 138, 0.5);
}

.bdr_blue {
  border-color: #004C8A;
}

.lgray {
  color: #eaeaea;
}

.bg_lgray {
  background-color: #eaeaea;
}

.btn_lgray {
  background-color: #eaeaea;
  color: #fff;
}
.btn_lgray:focus {
  background-color: rgba(234, 234, 234, 0.5);
}

.bdr_lgray {
  border-color: #eaeaea;
}

.gray {
  color: #ddd;
}

.bg_gray {
  background-color: #ddd;
}

.btn_gray {
  background-color: #ddd;
  color: #fff;
}
.btn_gray:focus {
  background-color: rgba(221, 221, 221, 0.5);
}

.bdr_gray {
  border-color: #ddd;
}

.red {
  color: #FF0000;
}

.bg_red {
  background-color: #FF0000;
}

.btn_red {
  background-color: #FF0000;
  color: #fff;
}
.btn_red:focus {
  background-color: rgba(255, 0, 0, 0.5);
}

.bdr_red {
  border-color: #FF0000;
}

.orange {
  color: #ff6501;
}

.bg_orange {
  background-color: #ff6501;
}

.btn_orange {
  background-color: #ff6501;
  color: #fff;
}
.btn_orange:focus {
  background-color: rgba(255, 101, 1, 0.5);
}

.bdr_orange {
  border-color: #ff6501;
}

.green {
  color: #228B22;
}

.bg_green {
  background-color: #228B22;
}

.btn_green {
  background-color: #228B22;
  color: #fff;
}
.btn_green:focus {
  background-color: rgba(34, 139, 34, 0.5);
}

.bdr_green {
  border-color: #228B22;
}

.yellow {
  color: #ff9f00;
}

.bg_yellow {
  background-color: #ff9f00;
}

.btn_yellow {
  background-color: #ff9f00;
  color: #fff;
}
.btn_yellow:focus {
  background-color: rgba(255, 159, 0, 0.5);
}

.bdr_yellow {
  border-color: #ff9f00;
}

.whatsapp {
  color: #25D366;
}

.bg_whatsapp {
  background-color: #25D366;
}

.btn_whatsapp {
  background-color: #25D366;
  color: #fff;
}
.btn_whatsapp:focus {
  background-color: rgba(37, 211, 102, 0.5);
}

.bdr_whatsapp {
  border-color: #25D366;
}

html, body {
  background-color: #f1f3f6;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
  padding: 10px 0;
  min-height: calc(100vh - 50px);
}
main .dashboard {
  width: 100%;
  padding-right: 15px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn {
  border-radius: 0;
  border: none;
}
.btn:hover, .btn:focus, .btn:active {
  box-shadow: none;
}

.banner {
  display: block;
  margin-bottom: 0px;
}
.banner img.img-fluid {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .banner img.img-fluid {
    height: 120px;
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6501;
  font-size: 1.2rem;
}

@media (max-width: 425px) {
  .productDetails .btn {
    margin-bottom: 5px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .adminpanel .responsiveTable.table tr {
    border: none !important;
    padding: 0;
  }
  .adminpanel .responsiveTable.table tr td.pivoted {
    border-bottom: 1px solid #ddd !important;
  }
}
.mobileMenu {
  padding: 5px 15px;
  background-color: #fff;
  position: sticky;
  top: 51px;
  z-index: 2;
}
.mobileMenu i {
  font-size: 1.5rem;
}
@media (min-width: 769px) {
  .mobileMenu {
    display: none;
  }
}

/* Progress Bar */
.progress {
  position: absolute;
  height: 2px;
  display: block;
  width: 100%;
  background-color: #ddd;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
}

.progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #ff6501;
  transition: width 0.3s linear;
}

.progress .indeterminate {
  background-color: #26a69a;
}

.progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: #ff6501;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: "";
  position: absolute;
  background-color: #ff6501;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

/*# sourceMappingURL=style.css.map */
